/* =============================================================================
   HTML5 Boilerplate CSS: h5bp.com/css
   ========================================================================== */


article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: sans-serif; color: #222; }
body { margin: 0; font-size: 1em; line-height: 1.4; }

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }

a { color: #79766d; text-decoration: none; }
a:visited { color: #79766d; }
a:hover { color: #79766d; text-decoration: underline; }
a:focus { outline: none; }
a:hover, a:active { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

svg:not(:root) { overflow: hidden; }

figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }


/* ===== Primary Styles ========================================================
   Author: Brett Gilbert, Zack Gilbert, Becky Rother
   ========================================================================== */

body { 
	font-size: 12px;
	font-family: 'Imprima', Arial, sans-serif;
	color: #79766d;
	background: #e4d2ca url('/images/bg-sand.png') repeat left top;
}

#wrapper {
	width: 100%;
	border-top: 10px solid #ee4036;
	background: transparent url('/images/bg-ribbed.jpg') repeat-x left 255px;
	padding-bottom: 50px;
}
#page {
	width: 1000px;
	margin: 0 auto;
	min-height: 770px;
}
#carousel {
	position: relative;
	height: 430px;
	margin: 15px auto 0px;
}
#carousel ul {
	margin: 0;
	padding: 0 50px;
}
#carousel li {
	float: left;
	list-style: none;
	padding: 0px;
}

#photo-1 {
	background: url(https://s3.amazonaws.com/tuckeredin/uploads/71/484571_291400084300231_195892189_n.jpg) center no-repeat;
	/* 593x395 */
	background-size: 300px 180px;
}
#photo-2 {
	background: url(https://s3.amazonaws.com/tuckeredin/uploads/8/enhanced-buzz-1206-1339243406-9.jpg) center no-repeat;
	/* 625x339 */
}
#photo-3 {
	background: url(https://s3.amazonaws.com/tuckeredin/uploads/13/sleeping_animals_10.jpg) center no-repeat;
	/* 531x411 */
	background-size: 233px 180px;
}

.circular-small {
	margin: 140px 60px;
	width: 174px;
	height: 174px;
	border: 3px solid #fff;
	border-radius: 90px;
	-webkit-border-radius: 90px;
	-moz-border-radius: 90px;
	box-shadow: 0 0 8px rgba(0, 0, 0, .5);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .5);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .5);
}

.circular {
	margin-top: 75px;
	width: 290px;
	height: 290px;
	border: 5px solid #fff;
	border-radius: 175px;
	-webkit-border-radius: 175px;
	-moz-border-radius: 175px;
	box-shadow: 0 0 8px rgba(0, 0, 0, .5);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .5);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .5);
}
 
.circular img,
.circular-small img {
	opacity: 0;
	filter: alpha(opacity=0);
}
.circular-small img {
	width: 180px;
}

h1 {
	margin-top: 0px;
	margin-bottom: 30px;
	text-align: center;
	font-size: 100px;
	font-family: 'Fredoka One', sans-serif;
	font-weight: 500;
	line-height: 0.5;
	color: #F03B3D;
	-webkit-text-stroke:1px #fff;
	text-shadow:0px 2px 5px rgba(0,0,0,.5);
}
h2 {
	margin-bottom: 0px;
	text-align: center;
	font-size: 30px;
	font-family: 'Fredoka One', sans-serif;	
	font-weight: 500;
	color: #F03B3D;
}

form.register {
	text-align: center;
	padding-top: 20px;
}
input.reg-email {
	font-family: 'Imprima', sans-serif;
	color: #969696;
	font-size: 22px;
	background: transparent url('/images/bg-splash-input.png') no-repeat;
	border: none;
	padding: 0 0 0 55px;
    width: 490px;
	height: 59px;
	vertical-align: bottom;
}
input.reg-email:focus {
	outline: 0;
}

input.btn-go {
	background: transparent url('/images/btn-go.png') no-repeat;
	height: 59px;
	width: 143px;
	text-indent: -9000px;
	border: none;
}
input.btn-go:active {
	position:relative;
	top: 1px;
}
#social-container {
	margin-top:13px;
	margin-right:auto;
	margin-left:auto;
	width:250px;
}
#social-container ul {
	list-style-type:none;
	padding:0 0 0 8px;
}
#social-container li {
	float:left;
	padding:5px;
}
#social-container li a {
	display: block;
	width:58px;
	height:58px;
	overflow:hidden;	
}
#twitter {
	background:url('/images/btn-twitter.png') no-repeat 0 0;
}
#facebook {
	background:url('/images/btn-facebook.png') no-repeat 0 0;
}
#email {
	background:url('/images/btn-email.png') no-repeat 0 0;
}
#social-container li a:hover {
	background-position-y:-60px;
}

#footer-container {
	font-size: 12px;
	font-family: 'Imprima', sans-serif;
	width: 1000px;
	margin: 0 auto;
	display: none;
}
#footer-container ul {
	padding-left: 0;
}
#footer-container ul li {
	float: left;
	padding-right: 20px;
	color: #79766d;
}
#footer-container ul li:first-child {
	list-style: none;
}
#footer-container ul li a {
	font-size: 12px;
	font-family: 'Imprima', sans-serif;
	color: #79766d;
}
.copy {
	vertical-align: top;
	font-size: 17px;
}

/* =============================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */

}

@media only screen and (min-width: 768px) {

/* ====================
    WIDE: CSS3 Effects
   ==================== */

}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

}

/* =============================================================================
   Non-Semantic Helper Classes
   ========================================================================== */

.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

/* =============================================================================
   Print Styles
   ========================================================================== */
 
@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
