<div id="subscribe-container">

  <h2>Cute Sleepy Animals in your Inbox EVERYDAY!</h2>
  <h3>Only $10 for the year</h3>
  <h4>(w/ half the proceeds donated to <a href="http://www.pawschicago.org/">PAWS Chicago</a>)</h4>

  <div class="panel">

    <form novalidate="" action="/charge" autocomplete="on" method="post">
      <div class="yield">
        <div class="payment">
          <article>
            <div class="message"></div>

            <div class="email">
              <label for="subscriberEmail">Email:</label>
              <input type="email" name="email" id="subscriberEmail"/>
            </div>

            <div class="number">
              <label for="paymentNumber">Card number:</label>
              <input type="text" id="paymentNumber" placeholder="●●●● ●●●● ●●●● ●●●●" data-placeholder="Card number" autocompletetype="cc-number" required="" data-numeric="">
              <div class="placeholder"></div>
              <div class="type"></div>
            </div>

            <div class="expiry">
              <label for="paymentExpiry">Expires:</label>
              <input type="text" id="paymentExpiry" placeholder="MM / YY" autocompletetype="cc-exp" maxlength="9" pattern="\d*" data-numeric="" required="">
            </div>

            <div class="name">
              <label for="paymentName">Name on card:</label>
              <input type="text" id="paymentName" data-placeholder="Name on card" autocompletetype="name" autocapitalize="words" autocorrect="off" spellcheck="off" required="">
            </div>

            <div class="cvc">
              <label for="paymentCVC">Card code:</label>
              <input type="text" id="paymentCVC" placeholder="CVC" autocompletetype="cc-csc" maxlength="4" pattern="\d*" autocomplete="off" data-numeric="" required="">
            </div>
          </article>

          <div class="preloaded-images"></div>
        </div>
      </div>

      <div class="footer">
        <button type="submit" class="blue submit"><span>Subscribe for $10.00</span></button>
      </div>
    </form>

    <div class="success">
      <div class="check"></div>
    </div>
  </div>
</div>
