<div id="subscribe-container">

  <h2>What is this charge on my card statement?</h2>

  <p>If you have a charge on your credit card statement of Tuckered.In (or a variation), then it is because your card was used to purchase a yearly subscription for this website for $10 ($5 of which is donated to an animal humane organization). With that purchase,  the supplied email address receives daily emails to your inbox, which feature cute and adorable sleeping animals.</p>

  <p>If you did not subscribe or you think that charge was in error, please contact us immediately at: <a href="mailto:billing@tuckered.in">billing@tuckered.in</a> and we will fix the situation asap.</p>

</div>
