
<div id="cuties">
<% @photos.each do |photo| %>
	<%= render photo %>
<% end %>
<% if @next_page >= 1 %>
<nav id="page-nav">
  <a href="?page=<%= @next_page %>"></a>
</nav>
<% end %>
<a href="#" class="scrollup">Scroll</a>
<% if @photos.length <= 0 %>
<div>Looks like there isn't any adorableness left.</div>
<% end %>
</div>
