	
	<div id="photo-container">
		<div class="img-wrap">
    	<img src="<%= @photo.image_url %>" class="photo">
    </div>
			<!--<div class="span4">
				
				<div>
					<pre><%= @photo.to_yaml %></pre>
				</div>
 
			</div>-->
	</div>
