	
  <div>
    <%= image_tag(@photo.image_url) %>
    <h2 class="lipsum"></h2>
    <!--<div class="comments">
      2
      comments
    </div>-->
    <!--<div class="chat">
      <div class="chatbox">
        <img height="30px" src="http://placehold.it/30x30/4e5d32/b847f6&text=ut" width="30px" alt="" />
        <b>Cathleen Rich</b>
        via
        <b>Bart McKenna</b>
        onto
        <b>numquam</b>
      </div>
      <div class="chatbox">
        <img height="30px" src="http://placehold.it/30x30/48e0fa/9cb413&text=id" width="30px" alt="" />
        <b>Reid Watson</b>
        <p>Doloribus nesciunt repudiandae animi corrupti rerum omnis voluptate adipisci odit sunt quasi</p>
      </div>
      <div class="chatbox">
        <img height="30px" src="http://placehold.it/30x30/306b89/4c57e3&text=ut" width="30px" alt="" />
        <b>Caleb Norman</b>
        <p>Illum adipisci delectus tempore exercitationem ducimus dolorum maxime nesciunt officiis</p>
      </div>
    </div>-->
		<div class="utilities">
			<% if current_user && current_user.is_admin? %>
	    <%= link_to 'Delete', @photo, confirm: 'Are you sure?', method: :delete, :class => "btn btn-destroy" %>
			<% end %>
		</div>
  </div>
