<div id="subscribe-container">

  <h2>thank you!</h2>

  <p>Thank you for subscribing. It means a lot to us, and I'm sure it'll mean a lot to <a href="http://www.pawschicago.org/" target="_blank">PAWS Chicago</a> also. You'll get your first email to the email address you supplied us either today or tomorrow. Please make sure you add <a href="mailto:contact@tuckered.in">contact@tuckered.in</a> to your address book to help ensure proper delivery. If you don't receive an email (be sure to check your spam or junk folder first) or if you have any questions or comments, please feel free to get in touch with us at: <a href="mailto:contact@tuckered.in">contact@tuckered.in</a>.</p>

  <p style="text-align: center;">We'd love it if you would share us on <a href="http://twitter.com/tuckeredin">Twitter</a> or <a href="https://www.facebook.com/tuckeredin">Facebook</a>.</p>

  <div class="social-container">
    <ul style="margin-left: 45px;">
      <li><a href="https://twitter.com/intent/tweet?original_referer=http%3A%2F%2Ftuckered.in&amp;source=tweetbutton&amp;text=I just subscribed to receive adorable sleepy animals everyday from @tuckeredin and you should too!&amp;url=http%3A%2F%2Ftuckered.in%2F&amp;via=tuckeredin" target="_blank" id="twitter" class="twitter-share-button" rel="tooltip" title="Share this on Twitter"></a></li>
      <li><a href="https://www.facebook.com/dialog/feed?app_id=478208585544625&amp;link=http://www.tuckered.in/cuties/&amp;name=Tuckered.In - It's just so cute!&amp;redirect_uri=http://www.tuckered.in/" id="facebook" rel="tooltip" title="Share this on Facebook"></a></li>
    </ul>
  </div>
</div>
